<div class="container text-center">
  <h1>TEAM UP</h1>
  <p>Your Favorite App to Manage Sports Teams</p>

  <p id="notice"><%= notice %></p>

  <ul class="list-unstyled cards">
    <% @teams.each do |team| %>
      <div class="card">
        <li>
          <div class="card-description">
            <%= team.name %>
          </div>
        </li>
      </div>
    <% end %>
  </ul>
</div>
