<div class="navbar">
  <!-- Logo -->
  <div class="navbar-logo">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "favicon.png" %>
    <% end %>
  </div>

  <!-- Add a new team -->
  <div class="navbar-item">
      <%= link_to "ADD A TEAM", new_team_path, class: "navbar-link" %>
  </div>
</div>
