/* Main navbar */
.navbar {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #f8f9fa;
  transition: all 0.3s ease;
  height: 65px;
  width: 100%;
  justify-content: space-between;
}

/* Logo */
.navbar-brand img{
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.navbar-logo {
  margin-left: 30px;
}

/* Basic navbar item */
.navbar-add {
  color: $blue;
  cursor: pointer;
  text-align: right;
  margin-top: 8px;
  margin-right: 30px;
  border: medium groove $blue;
  border-width: 1px;
  padding: 5px;
  border-radius: 4px;
}
.navbar-add:hover {
  background: $blue;
}

/* Search bar */
.search {
  font-size: 15px;
  margin-left: 155px;
  margin-top: 15px;
  padding-right: 5px;
}
.btn-search {
  color: $green;
  cursor: pointer;
  text-align: right;
  border: medium groove $green;
  border-width: 1px;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 6px;
}
.btn-search:hover {
  color: white;
  background: $green;
}
.search-box {
  padding: 8px;
}

/* Navbar right */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar link */
.navbar-link {
  color: $blue;
  font-size: 14px;
}
.navbar-link:hover {
  color: white;
  text-decoration: none;
}
