/* Main navbar */
.navbar {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #f8f9fa;
  transition: all 0.3s ease;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  // padding: 0px 30px;
  // display: flex;
  // align-items: center;
}

/* Logo */
.navbar-brand img{
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.navbar-logo {
  margin-left: 30px;
}

/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  text-align: right;
  margin-top: 15px;
  margin-right: 30px;
}

/* Navbar link */
.navbar-link {
  color: #616668;
  font-size: 14px;
}
.navbar-link:hover {
  color: #da552f;
  text-decoration: none;
}
