<div class="container">
  <h1>Edit [ <%= @member.name.upcase %> ]</h1>
  <%= render 'form' %>
  <%= link_to 'Back', team_path(@team) %>
</div>

<%= content_for(:title, @member.name + 'TEAM UP | Edit ') %>
